<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/app.css ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="inner_header">
           <div class="logo_container"> 
            <h1>LEARNING<span>MANAGEMENT SYSTEM</span></h1>
           </div>
           <ul class="navigation">
               <a href="signup.html"><li>Logout</li></a>
           </ul>
        </div>
    </div>

    <div class="jumbotron text-center" style="padding: 5em 0;">
        <form>
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>
    </div>

    <div class="footer">
        <p>Copyright © 2020 | Group 16</p>
    </div>    

</body>
</html>